
#container {
    background-image: url(/assets/images/shutterstock_456187270.jpg);
    background-position: center;
    width: 100%;
    height: auto;
}
.card {
    opacity: 80%;
}
#email {
    text-align: right;
    float: right;
}
#phone {
    text-align: right;
    float: right;
}
#resume {
    text-align: right;
    font-size: larger;
}
#upNext {
    text-align: center;
    font-weight: bolder;
}